# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Django stuff:
*.log
local_settings.py

# Media
/media

# Static files
/staticfiles

# Virtual environments
venv/
env/

# VSCode
.vscode/

# macOS
.DS_Store

# Python virtual environment
*.env
*.venv

# dotenv
.env

